body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  background-color: #4a4a4a;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  width: 10px;
  border-radius: 20px;
}